{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}	
<div class="work_filter">
<div class="tabs">
       
    {% if request.POST %}
    <input id="tab1" type="radio" name="tabs">
    <label for="tab1">{% trans 'Фильтры' %}</label>
    <input id="tab2" type="radio" name="tabs" checked>
    <label for="tab2">{% trans 'Результаты поиска' %}</label>
    {% else %}
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">{% trans 'Фильтры' %}</label>
    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">{% trans 'Результаты поиска' %}</label>
    {% endif %}
<section id="content-tab1">

 <form method="POST" enctype="multipart/form-data" action="{% url 'bendtestfilter' %}"> 
        {% csrf_token %}
    <fieldset class= "form-group">
    <legend class="border-bottom">{% trans 'Поиск тестов на изгиб' %}</legend>
    <table class="table_detail">
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Дата проведения теста, от' %}</th>
            <th class="table_cell2">{{ form.start_test_date }}</th>
            <th class="table_cell dark_cell">{% trans 'Дата проведения теста, до' %}</th>
            <th class="table_cell2">{{ form.end_test_date }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Время проведения теста, от' %}</th>
            <th class="table_cell2">{{ form.start_test_time }}</th>
            <th class="table_cell dark_cell">{% trans 'Время проведения теста, до' %}</th>
            <th class="table_cell2">{{ form.end_test_time }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Отбор проводил' %}</th>
            <th class="table_cell2">{{ form.lamellas_took_person }}</th>
            <th class="table_cell dark_cell">{% trans 'Номер теста' %}</th>
            <th class="table_cell2">{{ form.test_number }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Порода дерева' %}</th>
            <th class="table_cell2">{{ form.type_of_wood }}</th>
            <th class="table_cell dark_cell">{% trans 'Класс прочности' %}</th>
            <th class="table_cell2">{{ form.strength_class }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Клей' %}</th>
            <th class="table_cell2">{{ form.glue }}</th>
            <th class="table_cell dark_cell">{% trans 'Соотношение Клей:Отвердитель' %}</th>
            <th class="table_cell2">{{ form.glue_harderner_amount }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Толщина ламели в мм, от' %}</th>
            <th class="table_cell2">{{ form.lamellas_thickness_from }}</th>
            <th class="table_cell dark_cell">{% trans 'Толщина ламели в мм, до' %}</th>
            <th class="table_cell2">{{ form.lamellas_thickness_to }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Ширина ламели в мм, от' %}</th>
            <th class="table_cell2">{{ form.lamellas_width_from }}</th>
            <th class="table_cell dark_cell">{% trans 'Ширина ламели в мм, до' %}</th>
            <th class="table_cell2">{{ form.lamellas_width_to }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Длина ламели в мм, от' %}</th>
            <th class="table_cell2">{{ form.lamellas_length_from }}</th>
            <th class="table_cell dark_cell">{% trans 'Длина ламели в мм, до' %}</th>
            <th class="table_cell2">{{ form.lamellas_length_to }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Длина fj-соединения, мм' %}</th>
            <th class="table_cell2">{{ form.fj_length }}</th>
            <th class="table_cell dark_cell">{% trans 'Шаг fj-соединения, мм' %}</th>
            <th class="table_cell2">{{ form.fj_path }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Зазор fj-соединения, мм' %}</th>
            <th class="table_cell2">{{ form.fj_gap }}</th>
            <th class="table_cell dark_cell">{% trans 'Угол fj-соединения, гр.' %}</th>
            <th class="table_cell2">{{ form.fj_angle }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Ориентация fj-соединения' %}</th>
            <th class="table_cell2">{{ form.fj_orientation }}</th>
            <th class="table_cell dark_cell">{% trans 'Оборудование' %}</th>
            <th class="table_cell2">{{ form.equipment }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Влажность ламели слева в %, от' %}</th>
            <th class="table_cell2">{{ form.lamellas_left_moisture_from }}</th>
            <th class="table_cell dark_cell">{% trans 'Влажность ламели слева  в %, до' %}</th>
            <th class="table_cell2">{{ form.lamellas_left_moisture_to }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Влажность ламели справа в %, от' %}</th>
            <th class="table_cell2">{{ form.lamellas_right_moisture_from }}</th>
            <th class="table_cell dark_cell">{% trans 'Влажность ламели справа в %, до' %}</th>
            <th class="table_cell2">{{ form.lamellas_right_moisture_to }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Давление склейки, от' %}</th>
            <th class="table_cell2">{{ form.glue_pressure_from }}</th>
            <th class="table_cell dark_cell">{% trans 'Давление склейки, до' %}</th>
            <th class="table_cell2">{{ form.glue_pressure_to }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Продолжительность склейки в сек., от' %}</th>
            <th class="table_cell2">{{ form.pressure_time_from }}</th>
            <th class="table_cell dark_cell">{% trans 'Продолжительность склейки в сек., до' %}</th>
            <th class="table_cell2">{{ form.pressure_time_to }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Расход клея в гр/м2, от' %}</th>
            <th class="table_cell2">{{ form.glue_use_amount_from }}</th>
            <th class="table_cell dark_cell">{% trans 'Расход клея в гр/м2, до' %}</th>
            <th class="table_cell2">{{ form.glue_use_amount_to }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Номер партии клея' %}</th>
            <th class="table_cell2">{{ form.glue_batch_number }}</th>
            <th class="table_cell dark_cell">{% trans 'Параметры ламели' %}</th>
            <th class="table_cell2">{{ form.lamellas_param }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Срок годности партии клея, от' %}</th>
            <th class="table_cell2">{{ form.start_glue_expiration_date }}</th>
            <th class="table_cell dark_cell">{% trans 'Срок годности партии клея, до' %}</th>
            <th class="table_cell2">{{ form.end_glue_expiration_date }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Сила в кН, от' %}</th>
            <th class="table_cell2">{{ form.force_crash_from }}</th>
            <th class="table_cell dark_cell">{% trans 'Сила в кН, до' %}</th>
            <th class="table_cell2">{{ form.force_crash_to }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Продолжительность под нагрузкой в сек., от' %}</th>
            <th class="table_cell2">{{ form.time_of_testing_from }}</th>
            <th class="table_cell dark_cell">{% trans 'Продолжительность под нагрузкой в сек., до' %}</th>
            <th class="table_cell2">{{ form.time_of_testing_to }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Прочность ламели, от' %}</th>
            <th class="table_cell2">{{ form.lamellas_strength_from }}</th>
            <th class="table_cell dark_cell">{% trans 'Прочность ламели, до' %}</th>
            <th class="table_cell2">{{ form.lamellas_strength_to }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Излом по соединению в %, от' %}</th>
            <th class="table_cell2">{{ form.by_fj_crash_from }}</th>
            <th class="table_cell dark_cell">{% trans 'Излом по соединению в %, до' %}</th>
            <th class="table_cell2">{{ form.by_fj_crash_to }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Излом в основании соединения в %, от' %}</th>
            <th class="table_cell2">{{ form.base_fj_crash_from }}</th>
            <th class="table_cell dark_cell">{% trans 'Излом в основании соединения в %, до' %}</th>
            <th class="table_cell2">{{ form.base_fj_crash_to }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Излом вне соединения в %, от' %}</th>
            <th class="table_cell2">{{ form.out_of_fj_crash_from }}</th>
            <th class="table_cell dark_cell">{% trans 'Излом вне соединения в %, до' %}</th>
            <th class="table_cell2">{{ form.out_of_fj_crash_to }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Соответствует нормам' %}</th>
            <th class="table_cell2 long_inp">{{ form.passed_true }}</th>
            <th class="table_cell dark_cell">{% trans 'Не соответствует нормам' %}</th>
            <th class="table_cell2 long_inp">{{ form.passed_false }}</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell">{% trans 'Комментарий' %}</th>
            <th class="table_cell2" colspan="3">{{ form.comment }}</th>  
        </tr>



    </table>
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info btn_down" type="submit">{% trans 'Найти' %}</button>
    </div>
</form>
</section> 

<section id="content-tab2">
            {% if bendtests %}
            {% for test in bendtests %}
            
            <table class="table" onClick='location.href="{% url "bendtest-detail" test.id %}"'>
                <tr class="table_row">
                    <th class="table_cell">{% trans 'Номер теста' %}: {{ test.test_number }}</th>
                    <th class="table_cell">{% trans 'Дата' %}: {{ test.test_date|date:"d-m-Y" }}</th>
                    {% if test.test_time %}
                    <th class="table_cell">{% trans 'Время' %}: {{ test.test_time }}</th>
                    {% else %}
                    <th class="table_cell">{% trans 'Время' %}: ---</th>
                    {% endif %}
                    <th class="table_cell">{% trans 'Порода' %}: {{ test.type_of_wood }}</th>
                    <th class="table_cell">{% trans 'Класс' %}: {{ test.strength_class }}</th>
                </tr>
                <tr class="table_row">
                    <td colspan="3" class="table_cell" id="cell1">{% trans 'Размеры образца' %}</td>
                    <th colspan="2" class="table_cell" id="cell3">{% trans 'Отбор проводил' %}</th>
                </tr>
                <tr class="table_row">
                    <th class="table_cell">{% trans 'Толщина' %}: {{ test.lamellas_thickness }} мм</th>
                    <th class="table_cell">{% trans 'Ширина' %}: {{ test.lamellas_width }} мм</th>
                    <th class="table_cell" id="cell2">{% trans 'Длина' %}: {{ test.lamellas_length }} мм</th>
                    <th colspan="2" class="table_cell">{{ test.lamellas_took_person }}</th>
                </tr>

            </table>
            
            {% endfor %}
            {% else %}
            {% trans 'Тестов не найдено...' %}
            {% endif %}
    </section>

</div>
</div>


{% endblock content %}







<!--  <div class="content-section tabletoday">
    {% for test in bendtests %}
    <table class="content-section tabletoday">
        <th>{{ test.test_number }}</th>
        <th>{{ test.test_date|date:"Y-m-d" }}</th>
        <th><a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'bend-test-update' test.id %}">Изменить</a></th>
        <th><a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'bend-test-delete' test.id %}">Удалить</a></th>
    </table>
    {% endfor %}
</div>


