{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}



{% block content %}			
 <div class="content-section tabletoday">
    {% for test in delamination_tests %}
    <table class="content-section tabletoday">
        <th>{{ test.test_number }}</th>
        <th>{{ test.test_date|date:"Y-m-d" }}</th>
        <th><a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'delamination-test-update' test.id %}">Изменить</a></th>
        <th><a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delamination-test-delete' test.id %}">Удалить</a></th>
    </table>
    {% endfor %}
</div>
{% endblock content %}

{% block sidebar %}
<form method="POST" action="{% url 'delamtestfilter' %}">
    {% csrf_token %}
    <th>  
    {{ form|crispy }} 
    </th>
    <th>
        <button class="btn btn-info btn-sm mt-1 mb-1" type="submit">Найти</button>
    </th>
</form> 
{% endblock sidebar %}