{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content %}
{% if perms.mainApp.change_TestDelamination %}
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<fieldset class="form-group">
<legend class="border-bottom">Изменить параметры теста</legend>
<table class="table_detail">
	<tr>
		<th class="table_cell dark_cell">Номер теста</th>
		<th class="table_cell dark_cell">Дата</th>
		<th class="table_cell dark_cell">Время</th>
		<th class="table_cell dark_cell">Порода</th>
		<th class="table_cell dark_cell">Класс</th>
	</tr>
	<tr>
        <th class="table_cell2">{{ form.test_number }}</th>
        <th class="table_cell2">{{ form.test_date }}</th>
        <th class="table_cell2">{{ form.test_time }}</th>
        <th class="table_cell2">{{ form.type_of_wood }}</th>
        <th class="table_cell2">{{ form.timber_params }}</th>
    </tr>
    <tr>
    	<td colspan="3" class="table_cell" id="cell1">Размеры образца</td>
        <th colspan="2" class="table_cell" id="cell3">Оборудование</th>
    </tr>
    <tr>
    	<th class="table_cell dark_cell">Толщина</th>
		<th class="table_cell dark_cell">Ширина</th>
		<th class="table_cell dark_cell" id="cell2">Длина</th>
		<th colspan="2" rowspan="2" class="table_cell2">{{ form.equipment }}</th>
    </tr>
    <tr>
    	<th class="table_cell">{{ form.sample_thickness }} мм</th>
    	<th class="table_cell">{{ form.sample_width }} мм</th>
    	<th class="table_cell" id="cell2">{{ form.sample_length }} мм</th>
    </tr>
    <tr>
    	<th colspan="5" class="table_cell" id="cell3">Ответственные лица</th>
    </tr>
    <tr>
		<th colspan="2" class="table_cell dark_cell">Визуальная сортировка</th>
		<th colspan="3" class="table_cell">{{ form.sorter_person }}</th>
	</tr>
    <tr>
        <th colspan="2" class="table_cell dark_cell">Склейка по длине</th>
        <th colspan="3" class="table_cell2">{{ form.fj_person }}</th>
    </tr>
    <tr>
        <th colspan="2" class="table_cell dark_cell">Склейка по пласти</th>
        <th colspan="3" class="table_cell2">{{ form.glue_person }}</th>
    </tr>
    <tr>
        <th colspan="2" class="table_cell dark_cell">Нанесение маркировки</th>
        <th colspan="3" class="table_cell2">{{ form.marking_person }}</th>
    </tr>
    <tr>
        <th colspan="5" class="table_cell" id="cell3">Технологические параметры процесса</th>
    </tr>
    <tr>
    	<th class="table_cell dark_cell">Влажность воздуха</th>
    	<th class="table_cell dark_cell">Влажность древесины</th>
    	<th class="table_cell dark_cell">Температура воздуха</th>
    	<th class="table_cell dark_cell">Температура древесины</th>
        <th class="table_cell dark_cell">Температура клея</th>
    </tr>
    <tr>
    	<th class="table_cell">{{ form.air_moisture }} %</th>
    	<th class="table_cell">{{ form.wood_moisture }} %</th>
    	<th class="table_cell">{{ form.air_temperature }}</th>
    	<th class="table_cell">{{ form.wood_temperature }}</th>
    	<th class="table_cell">{{ form.glue_temperature }}</th>
    </tr>
    <tr>
    	<th class="table_cell dark_cell">Клей</th>
        <th class="table_cell dark_cell">Номер партии клея</th>
        <th class="table_cell dark_cell">Срок годности клея</th>
        <th class="table_cell dark_cell">Время начала прессования</th>
        <th class="table_cell dark_cell">Время конца прессования</th>
    </tr>
     <tr>
        <th class="table_cell2">{{ form.glue }}</th>
        <th class="table_cell2">{{ form.glue_batch_number }}</th>
        <th class="table_cell2">{{ form.glue_expiration_date }}</th>
        <th class="table_cell2">{{ form.start_glue_time }}</th>
        <th class="table_cell2">{{ form.end_glue_time }}</th>
    </tr>
    <tr>
    	<th class="table_cell dark_cell">Расход клея</th>
    	<th class="table_cell dark_cell">Давление</th>
    	<th class="table_cell dark_cell">Продолжительность</th>
    	<th colspan="2" class="table_cell dark_cell">Соотношение Клей:Отвердитель</th>
    </tr>
    <tr>
    	<th class="table_cell">{{ form.glue_use_amount }} г/см2</th>
    	<th class="table_cell">{{ form.glue_pressure }} г/см3</th>
    	<th class="table_cell">{{ form.pressure_time }} сек.</th>
    	<th class="table_cell2" colspan="2">{{ form.glue_harderner_amount }}</th>
    </tr>
    <tr>
    	<th colspan="5" class="table_cell" id="cell3">Результаты тестирования</th>
    </tr>
    <tr>
    	<th class="table_cell dark_cell">Кол-во швов</th>
    	<th class="table_cell2">{{ form.number_of_layers }}</th>
    	<th class="table_cell dark_cell">Процент раскрытия шва</th>
        <th colspan="2" class="table_cell">{{ form.layer_out_percent }} %</th>
    </tr>
    <tr>
    	<th colspan="5" class="table_cell" id="cell3">Комментарий</th>
    </tr>
    <tr>
    	<th class="table_cell" colspan="5">{{ form.comment }}</th>
    </tr>

    <tr>
    	<th class="table_cell dark_cell">Соответствует нормам:</th>
    	<th class="table_cell long_inp">{{ form.passed }}</th>
    	<th class="table_cell dark_cell">Фото:</th>
        <th class="table_cell long" colspan="2">{{ form.photo }}</th>
    </tr>
</table>
</fieldset>
    <div class="form-group">
        <button class="btn btn-info btn_down" type="submit">Сохранить</button>
    </div>
</form>
{% else %}
<h2>У данного аккаунта нет прав на редактирование данных!</h2>
 <a href="{% url 'login' %}">Сменить аккаунт</a>
{% endif %}


{% endblock content %}