{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content %}
 <table class="table_detail">
        <tr class="table_row">
            <th class="table_cell" rowspan="2" id="cell2">Дата: {{ nonconformity.nonconformity_date|date:"d-m-Y" }}</th>
            <th class="table_cell dark_cell">Ответственный</th>   
        </tr>
        <tr class="table_row">
            <th class="table_cell">{{ nonconformity.resp_person }}</th>
         </tr>   
        <tr class="table_row">
            <th class="table_cell dark_cell" colspan="2" id="cell3" >Название</th> 
        </tr>
        <tr class="table_row">
            <th class="table_cell" colspan="2">{{ nonconformity.name }}</th>
        </tr>
        <tr class="table_row">
            <th class="table_cell dark_cell" colspan="2" id="cell3" >Описание</th>
        </tr>
        <tr class="table_row">
            <th class="table_cell" colspan="2">{{ nonconformity.description }}</th>
        </tr>
    </table>
    <th><a class="btn btn-info btn-sm mt-2 mb-1" href="{% url 'nonconformity-update' nonconformity.id %}">Изменить</a></th>
       <th> <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'nonconformity-delete' nonconformity.id %}">Удалить</a></th>
{% endblock content %}