{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block content %} 
<a class="btn btn-info btn-sm mt-3" href="{% url 'person-create' %}">Добавить нового сотрудника</a>
{% if persons %}
{% for person in persons %}
<table class="table_detail" onClick='location.href="{% url "person-detail" person.id %}"'>
     <tr class="table_row ">
        <th class="table_cell dark_cell">Имя</th>
        <th colspan="3" class="table_cell">{{ person.name }}</th>
    </tr>
    <tr class="table_row">
        <th class="table_cell" id="cell3">Должность</th>
        <th colspan="3" class="table_cell" id="cell4">{{ person.position }}</th>
     </tr>
     <tr class="table_row">
         <th class="table_cell" id="cell3">Дата обучения</th>  
         <th class="table_cell" id="cell4">{{ person.training_date }}</th>
         <th class="table_cell" id="cell3">Дата следующего обучения</th>  
         <th class="table_cell" id="cell4">{{ person.next_training_date }}</th>
     </tr>

</table>

{% endfor %}
{% else %}
    Ни одного сотрудника не добавлено
{% endif %}
{% endblock content %}