{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<table class="table_detail">
    <tr class="table_row">
        <th class="table_cell dark_cell">{% trans 'Имя' %}</th>
        <th colspan="3" class="table_cell">{{ person.name }}</th>
    </tr>
    <tr class="table_row">
        <th class="table_cell" id="cell3">{% trans 'Должность' %}</th>
        <th colspan="3" class="table_cell" id="cell4">{{ person.position }}</th>
     </tr>
     <tr class="table_row">
    	 <th class="table_cell" id="cell3">{% trans 'Дата обучения' %}</th>  
    	 <th class="table_cell" id="cell4">{{ person.training_date }}</th>
    	 <th class="table_cell" id="cell3">{% trans 'Дата следующего обучения' %}</th>  
    	 <th class="table_cell" id="cell4">{{ person.next_training_date }}</th>
     </tr>
     <tr class="table_row">
     	<th class="table_cell" id="cell3">{% trans 'Комментарий' %}</th>
     	<th colspan="3" class="table_cell" id="cell4">{{ person.comment }}</th>
     </tr>
</table>
{% if perms.mainApp.change_Person %}
<a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'person-update' person.id %}">{% trans 'Редактировать' %}</a>
{% endif %}

{% if perms.mainApp.delete_Person %}
<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'person-delete' person.id %}">{% trans 'Удалить' %}</a>
{% endif %}
{% endblock content %}