{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}


{% block content %}
{% if perms.mainApp.delete_Person %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Удаление данных о сотруднике</legend>
                <h2>Вы уверены, что хотите удалить данные об этом сотруднике?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Да, удалить</button>
                <a class="btn btn-outline-sec" href="{% url 'persons' %}">Отменить</a>
            </div>
        </form>
    </div>
    {% else %}
<h2>У данного аккаунта нет прав на удаление данных!</h2>
 <a href="{% url 'login' %}">Сменить аккаунт</a>
{% endif %}
{% endblock content %}