{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block content %} 
<a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'person-create' %}">Добавить нового сотрудника</a>
{% for person in persons %}
<div class="content-section tabletoday">
    <table>
        <tr>
            <th>{{ person.training_date|date:"m:d:Y" }}</th>
            <th><a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'person' person.id %}">{{ person.name }}</a></th>
            <th>{{ person.position }}</th>
            <th></th>
            <th>
                <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'person-update' person.id %}">Редактировать</a>
            </th>
             <th>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'person-delete' person.id %}">Удалить</a>
            </th>
        </tr>
    </table>
</div>
{% endfor %}
{% endblock content %}