{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content %}
<table class="table_detail">
    <tr class="table_row">
        <th class="table_cell dark_cell">Имя</th>
        <th colspan="3" class="table_cell">{{ person.name }}</th>
    </tr>
    <tr class="table_row">
        <th class="table_cell" id="cell3">Должность</th>
        <th colspan="3" class="table_cell" id="cell4">{{ person.position }}</th>
     </tr>
     <tr class="table_row">
    	 <th class="table_cell" id="cell3">Дата обучения</th>  
    	 <th class="table_cell" id="cell4">{{ person.training_date }}</th>
    	 <th class="table_cell" id="cell3">Дата следующего обучения</th>  
    	 <th class="table_cell" id="cell4">{{ person.next_training_date }}</th>
     </tr>
     <tr class="table_row">
     	<th class="table_cell" id="cell3">Комментарий</th>
     	<th colspan="3" class="table_cell" id="cell4">{{ person.comment }}</th>
     </tr>
</table>
{% if perms.mainApp.change_Person %}
<a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'person-update' person.id %}">Редактировать</a>
{% endif %}

{% if perms.mainApp.delete_Person %}
<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'person-delete' person.id %}">Удалить</a>
{% endif %}
{% endblock content %}