{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
{% if perms.mainApp.change_TestLamella %}
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<fieldset class="form-group">
<legend class="border-bottom">{% trans 'Изменить параметры теста' %}</legend>
<table class="table_detail">
	<tr>
		<th class="table_cell dark_cell">{% trans 'Номер теста' %}</th>
		<th class="table_cell dark_cell">{% trans 'Дата' %}</th>
		<th class="table_cell dark_cell">{% trans 'Время' %}</th>
		<th class="table_cell dark_cell">{% trans 'Порода' %}</th>
		<th class="table_cell dark_cell">{% trans 'Класс' %}</th>
	</tr>
	<tr>
        <th class="table_cell2">{{ form.test_number }}</th>
        <th class="table_cell2">{{ form.test_date }}</th>
        <th class="table_cell2">{{ form.test_time }}</th>
        <th class="table_cell2">{{ form.type_of_wood }}</th>
        <th class="table_cell2">{{ form.timber_params }}</th>
    </tr>
    <tr>
    	<td colspan="3" class="table_cell" id="cell1">{% trans 'Размеры образца' %}</td>
        <th colspan="2" class="table_cell" id="cell3">{% trans 'Оборудование' %}</th>
    </tr>
    <tr>
    	<th class="table_cell dark_cell">{% trans 'Толщина, мм' %}</th>
		<th class="table_cell dark_cell">{% trans 'Ширина, мм' %}</th>
		<th class="table_cell dark_cell" id="cell2">{% trans 'Длина, мм' %}</th>
		<th colspan="2" rowspan="2" class="table_cell2">{{ form.equipment }}</th>
    </tr>
    <tr>
    	<th class="table_cell">{{ form.sample_thickness }}</th>
    	<th class="table_cell">{{ form.sample_width }}</th>
    	<th class="table_cell" id="cell2">{{ form.sample_length }}</th>
    </tr>
    <tr>
    	<th colspan="5" class="table_cell" id="cell3">{% trans 'Ответственные лица' %}</th>
    </tr>
    <tr>
		<th colspan="2" class="table_cell dark_cell">{% trans 'Визуальная сортировка' %}</th>
		<th colspan="3" class="table_cell2">{{ form.sorter_person }}</th>
	</tr>
    <tr>
        <th colspan="2" class="table_cell dark_cell">{% trans 'Склейка по длине' %}</th>
        <th colspan="3" class="table_cell2">{{ form.fj_person }}</th>
    </tr>
    <tr>
        <th colspan="2" class="table_cell dark_cell">{% trans 'Склейка по пласти' %}</th>
        <th colspan="3" class="table_cell2">{{ form.glue_person }}</th>
    </tr>
    <tr>
        <th colspan="2" class="table_cell dark_cell">{% trans 'Нанесение маркировки' %}</th>
        <th colspan="3" class="table_cell2">{{ form.marking_person }}</th>
    </tr>
    <tr>
        <th colspan="5" class="table_cell" id="cell3">{% trans 'Технологические параметры процесса' %}</th>
    </tr>
    <tr>
    	<th class="table_cell dark_cell">{% trans 'Влажность воздуха, %' %}</th>
    	<th class="table_cell dark_cell">{% trans 'Влажность древесины, %' %}</th>
    	<th class="table_cell dark_cell">{% trans 'Температура воздуха, °C' %}</th>
    	<th class="table_cell dark_cell">{% trans 'Температура древесины, °C' %}</th>
        <th class="table_cell dark_cell">{% trans 'Температура клея, °C' %}</th>
    </tr>
    <tr>
    	<th class="table_cell">{{ form.air_moisture }}</th>
    	<th class="table_cell">{{ form.wood_moisture }}</th>
    	<th class="table_cell">{{ form.air_temperature }}</th>
    	<th class="table_cell">{{ form.wood_temperature }}</th>
    	<th class="table_cell">{{ form.glue_temperature }}</th>
    </tr>
    <tr>
    	<th class="table_cell dark_cell">{% trans 'Клей' %}</th>
        <th class="table_cell dark_cell">{% trans 'Номер партии клея' %}</th>
        <th class="table_cell dark_cell">{% trans 'Срок годности клея' %}</th>
        <th class="table_cell dark_cell">{% trans 'Время начала прессования' %}</th>
        <th class="table_cell dark_cell">{% trans 'Время конца прессования' %}</th>
    </tr>
     <tr>
        <th class="table_cell2">{{ form.glue }}</th>
        <th class="table_cell2">{{ form.glue_batch_number }}</th>
        <th class="table_cell2">{{ form.glue_expiration_date }}</th>
        <th class="table_cell2">{{ form.start_glue_time }}</th>
        <th class="table_cell2">{{ form.end_glue_time }}</th>
    </tr>
    <tr>
    	<th class="table_cell dark_cell">{% trans 'Расход клея, г/см2' %}</th>
    	<th class="table_cell dark_cell">{% trans 'Давление, г/см3' %}</th>
    	<th class="table_cell dark_cell">{% trans 'Продолжительность, мин.' %}</th>
    	<th colspan="2" class="table_cell dark_cell">{% trans 'Соотношение Клей:Отвердитель' %}</th>
    </tr>
    <tr>
    	<th class="table_cell">{{ form.glue_use_amount }}</th>
    	<th class="table_cell">{{ form.glue_pressure }}</th>
    	<th class="table_cell">{{ form.pressure_time }}</th>
    	<th class="table_cell2" colspan="2">{{ form.glue_harderner_amount }}</th>
    </tr>
    <tr>
    	<th colspan="5" class="table_cell" id="cell3">{% trans 'Результаты тестирования' %}</th>
    </tr>
    <tr>
    	<th class="table_cell dark_cell">{% trans 'Кол-во швов' %}</th>
    	<th class="table_cell dark_cell">{% trans 'Сила в кН' %}</th>
    	<th class="table_cell dark_cell">{% trans 'Продолжительность под нагрузкой, сек.' %}</th>
    	<th colspan="2" class="table_cell dark_cell">{% trans 'Средний процент разрыва волокон' %}</th>
    </tr>
    <tr>
    	<th class="table_cell2">{{ form.number_of_layers }}</th>
    	<th class="table_cell">{{ form.force_crash }}</th>
    	<th class="table_cell">{{ form.time_of_testing }}</th>
    	<th colspan="2" class="table_cell">{{ form.layer_ripped_percent_average }} %</th>
    </tr>
    <tr>
    	<th colspan="5" class="table_cell" id="cell3">{% trans 'Комментарий' %}</th>
    </tr>
    <tr>
    	<th class="table_cell" colspan="5">{{ form.comment }}</th>
    </tr>

    <tr>
    	<th class="table_cell dark_cell">{% trans 'Соответствует нормам' %}:</th>
    	<th class="table_cell long_inp">{{ form.passed }}</th>
    	<th class="table_cell dark_cell">{% trans 'Фото' %}:</th>
        <th class="table_cell long" colspan="2">{{ form.photo }}</th>
    </tr>
</table>
</fieldset>
    <div class="form-group">
        <button class="btn btn-info btn_down" type="submit">{% trans 'Сохранить' %}</button>
    </div>
</form>
{% else %}
<h2>{% trans 'У данного аккаунта нет прав на редактирование данных' %}!</h2>
 <a href="{% url 'login' %}">{% trans 'Сменить аккаунт' %}</a>
{% endif %}


{% endblock content %}