{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content %} 

<table class="table_detail">
    <tr class="table_row">
        <th class="table_cell dark_cell">Название</th>
    </tr>
    <tr class="table_row">
        <th class="table_cell2">{{ object.name }}</th>
    </tr>
</table>
<a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'strengthclass-update' object.id %}">Редактировать</a>
<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'strengthclass-delete' object.id %}">Удалить</a>

{% endblock content %}