{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}


{% block content %}
{% if perms.mainApp.change_strength_class_types %}
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
    <legend class="border-bottom mb-4">Редактировать данные о породе дерева</legend>
    {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Сохранить</button>
    </div>
</form>
{% else %}
<h2>У данного аккаунта нет прав на редактирование данных!</h2>
 <a href="{% url 'login' %}">Сменить аккаунт</a>
{% endif %}
{% endblock content %}