{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
<table class="table_detail">
	<tr>
		<th class="table_cell dark_cell">{% trans 'Номер теста' %}</th>
		<th class="table_cell dark_cell">{% trans 'Дата' %}</th>
		<th class="table_cell dark_cell">{% trans 'Время' %}</th>
		<th class="table_cell dark_cell">{% trans 'Порода' %}</th>
		<th class="table_cell dark_cell">{% trans 'Класс' %}</th>
	</tr>
	<tr>
        <th class="table_cell">{{ object.test_number }}</th>
        <th class="table_cell">{{ object.test_date|date:"d-m-Y" }}</th>
        {% if object.test_time %}
        <th class="table_cell">{{ object.test_time }}</th>
        {% else %}
        <th class="table_cell">---</th>
        {% endif %}
        <th class="table_cell">{{ object.type_of_wood }}</th>
        <th class="table_cell">{{ object.strength_class }}</th>
    </tr>
    <tr>
    	<td colspan="3" class="table_cell" id="cell1">{% trans 'Размеры образца' %}</td>
    	<th colspan="2" class="table_cell" id="cell3">{% trans 'Отбор проводил' %}</th>
    </tr>
    <tr>
    	<th class="table_cell dark_cell">{% trans 'Толщина, мм' %}</th>
		<th class="table_cell dark_cell">{% trans 'Ширина, мм' %}</th>
		<th class="table_cell dark_cell" id="cell2">{% trans 'Длина, мм' %}</th>
		<th colspan="2" rowspan="2" class="table_cell">{{ object.lamellas_took_person }}</th>
    </tr>
    <tr>
    	<th class="table_cell">{{ object.lamellas_thickness }}</th>
    	<th class="table_cell">{{ object.lamellas_width }}</th>
    	<th class="table_cell" id="cell2">{{ object.lamellas_length }}</th>
    </tr>
    <tr>
    	<th colspan="5" class="table_cell" id="cell3">{% trans 'Параметры пальцевого соединения' %}</th>
    </tr>
    <tr>
		<th class="table_cell dark_cell">{% trans 'Длина, мм' %}</th>
		<th class="table_cell dark_cell">{% trans 'Шаг, мм' %}</th>
		<th class="table_cell dark_cell">{% trans 'Зазор, мм' %}</th>
		<th class="table_cell dark_cell">{% trans 'Угол, град.' %}</th>
		<th class="table_cell dark_cell">{% trans 'Ориентация' %}</th>
	</tr>
    <tr>
    	<th class="table_cell">{{ object.fj_length }}</th>
    	<th class="table_cell">{{ object.fj_path }}</th>
    	<th class="table_cell">{{ object.fj_gap }}</th>
    	<th class="table_cell">{{ object.fj_angle }}</th>
    	<th class="table_cell">{{ object.fj_orientation }}</th>
    </tr>
    <tr>
    	<th colspan="2" class="table_cell" id="cell3">{% trans 'Влажность древесины, %' %}</th>
    	<th class="table_cell" id="cell3">{% trans 'Клей (отвердитель)' %}</th>
    	<th class="table_cell" id="cell3">{% trans 'Номер партии клея' %}</th>
    	<th class="table_cell" id="cell3">{% trans 'Срок годности' %}</th>
    </tr>
    <tr>
    	<th class="table_cell">{% trans 'Слева' %}: {{ object.lamellas_left_moisture }}</th>
    	<th class="table_cell">{% trans 'Справа' %}: {{ object.lamellas_right_moisture }}</th>
    	<th class="table_cell">{{ object.glue }}</th>
    	<th class="table_cell">{{ object.glue_batch_number }}</th>
    	<th class="table_cell">{{ object.glue_expiration_date }}</th>
    </tr>
    <tr>
    	<th colspan="5" class="table_cell" id="cell3">{% trans 'Параметры склеивания' %}</th>
    </tr>
    <tr>
    	<th class="table_cell dark_cell">{% trans 'Расход клея, г/см2' %}</th>
    	<th class="table_cell dark_cell">{% trans 'Давление, г/см3' %}</th>
    	<th class="table_cell dark_cell">{% trans 'Продолжительность, сек.' %}</th>
    	<th colspan="2" class="table_cell dark_cell">{% trans 'Соотношение Клей:Отвердитель' %}</th>
    </tr>
    <tr>
    	<th class="table_cell">{{ object.glue_use_amount }}</th>
    	<th class="table_cell">{{ object.glue_pressure }}</th>
    	{% if object.pressure_time %}
    	<th class="table_cell">{{ object.pressure_time }}</th>
    	{% else %}
        <th class="table_cell">---</th>
        {% endif %}
        {% if object.glue_harderner_amount %}
    	<th class="table_cell" colspan="2">{{ object.glue_harderner_amount }}</th>
    	{% else %}
        <th class="table_cell" colspan="2">---</th>
        {% endif %}
    </tr>
    <tr>
    	<th colspan="5" class="table_cell" id="cell3">{% trans 'Результаты тестирования' %}</th>
    </tr>
    <tr>
    	<th class="table_cell dark_cell">{% trans 'Сила, kH' %}</th>
    	<th class="table_cell dark_cell">{% trans 'Напряжение, kH/м2' %}</th>
    	<th class="table_cell dark_cell">{% trans 'Излом по соединению, %' %}</th>
    	<th class="table_cell dark_cell">{% trans 'Излом в основании соединения, %' %}</th>
    	<th class="table_cell dark_cell">{% trans 'Излом вне соединения, %' %}</th>
    </tr>
    <tr>
    	<th class="table_cell">{{ object.force_crash }}</th>
    	<th class="table_cell">{{ object.lamellas_strength }}</th>
    	<th class="table_cell">{{ object.by_fj_crash }}</th>
    	<th class="table_cell">{{ object.base_fj_crash }}</th>
    	<th class="table_cell">{{ object.out_of_fj_crash }}</th>
    </tr>
    <tr>
    	<th colspan="4" class="table_cell" id="cell3">{% trans 'Комментарий' %}</th>
    	<th class="table_cell" id="cell3">{% trans 'Оборудование' %}</th>
    </tr>
    <tr>
    	{% if object.comment %}
    	<th class="table_cell" colspan="4">{{ object.comment }}</th>
    	{% else %}
        <th class="table_cell" colspan="4">---</th>
        {% endif %}
        <th class="table_cell">{{ object.equipment }}</th>
    </tr>

    <tr>
    	<th class="table_cell dark_cell">{% trans 'Соответствует нормам' %}:</th>
    	{% if object.passed %}
    	<th class="table_cell">{% trans 'Да' %}</th>
    	{% else %}
        <th class="table_cell">{% trans 'Нет' %}</th>
        {% endif %}
    	<th class="table_cell dark_cell">{% trans 'Фото' %}:</th>
        {% if object.photo %}
    	<th class="table_cell" colspan="2"><a href="{{ object.photo.url }}" target="_blank"><img src="{{ object.photo.url }}"></a></th>
        {% else %}
        <th class="table_cell" colspan="2">---</th>
        {% endif %}
    </tr>
</table>
{% if perms.mainApp.change_TestLamella %}
<a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'bend-test-update' object.id %}">{% trans 'Изменить' %}</a>
{% endif %}

{% if perms.mainApp.delete_TestLamella %}
<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'bend-test-delete' object.id %}">{% trans 'Удалить' %}</a>
{% endif %}

{% endblock content %}