{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


<!DOCTYPE html>
<html>
<head lang="ru">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'mainApp/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
           <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    locale: 'ru',
                });
            });
        </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   
        <!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

 	
   

    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>

   
    <script src="{% static 'mainApp/ru.js' %}"></script>
 
{{ form.media }}
{{ date_form.media }}
</head>
<body>

<!-- Header -->
<header class="site__header">
	<div class="container">
		<div class="header__inner">
			<div class="header__logo">
				<a id="logo" href="/">FPC App EN 14080:2013</a>
			</div>
			<nav id="nav">
				<a id="nav__link" href="{% url 'today' %}">Главная</a>
				{% if user.is_authenticated %}
				<a id="nav__link" href="{% url 'profile' %}">Мой профиль</a>
				<a id="nav__link" href="{% url 'logout' %}">Выйти</a>
				{% else %}
				<a id="nav__link" href="{% url 'login' %}">Войти</a>
				<a id="nav__link" href="{% url 'register' %}">Регистрация</a>
				{% endif %}
			</nav>
		</div>	
	</div>
</header>

<!-- Intro -->
<div class="intro">
	<div class="work__window">
		<div class="work__place">
			{% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% block content %}
            <div class='dates'>
				<div id="date"><h5 id="date">{{ date }}</h5></div>
				<dir class="date__form">
					<form method="POST" class="form__input"  action="{% url 'date_tests' %}">
	                {% csrf_token %}
	                {{ date_form.need_date }}

	                </dir>
	                <dir class="but">
	                <button class="btn btn-info btn-sm" type="submit">Перейти</button></dir> 
	            </form>
				
				

			</div>

			<div class="tabs">
					
				    	<input id="tab1" type="radio" name="tabs" checked>
				    	<label for="tab1">Изгиб</label>
				    	<input id="tab2" type="radio" name="tabs">
				    	<label for="tab2">Срез</label>
				    	<input id="tab3" type="radio" name="tabs">
				    	<label for="tab3">Деламинация</label>
				    
				    
			    <section id="content-tab1">
			       		{% if bendtests %}
                        {% for test in bendtests %}
                        
                        <table class="table" onClick='location.href="{% url "bendtest-detail" test.id %}"'>
                        	<tr class="table_row">
	                            <th class="table_cell">Номер теста: {{ test.test_number }}</th>
	                            <th class="table_cell">Дата: {{ test.test_date|date:"d-m-Y" }}</th>
	                            {% if test.test_time %}
	                            <th class="table_cell">Время: {{ test.test_time }}</th>
	                            {% else %}
	                            <th class="table_cell">Время: ---</th>
	                            {% endif %}
	                            <th class="table_cell">Порода: {{ test.type_of_wood }}</th>
	                            <th class="table_cell">Класс: {{ test.strength_class }}</th>
                            </tr>
                            <tr class="table_row">
                            	<td colspan="3" class="table_cell" id="cell1">Размеры образца</td>
                            	<th colspan="2" class="table_cell" id="cell3">Отбор проводил</th>
                            </tr>
                            <tr class="table_row">
                            	<th class="table_cell">Толщина: {{ test.lamellas_thickness }} мм</th>
                            	<th class="table_cell">Ширина: {{ test.lamellas_width }} мм</th>
                            	<th class="table_cell" id="cell2">Длина: {{ test.lamellas_length }} мм</th>
                            	<th colspan="2" class="table_cell">{{ test.lamellas_took_person }}</th>
                            </tr>

                            <!-- <th><a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'bend-test-update' test.id %}">Изменить</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'bend-test-delete' test.id %}">Удалить</a></th> -->
                        </table>
                        
                        {% endfor %}
                        {% else %}
                        В этот день тестов не добавлено
                   		{% endif %}
			    </section>  
			    <section id="content-tab2">
			        <p>
			          Здесь размещаете любое содержание....
			        </p>
			    </section> 
			    <section id="content-tab3">
			        <p>
			          Здесь размещаете любое содержание....
					</p>
			    </section>  
			   
			</div>
			{% endblock %}
		</div>
		<div class="sidebar">
			{% block sidebar %}
			<div class="sidebar_inner">
				<div id="dark_cell_sidebar">Добавление тестов</div>
				<div class="sidebar_item">
					<a href="{% url 'bendtest' %}" class="side_link">+ Тест на изгиб</a>
				</div>
				<div class="sidebar_item">
					<a href="{% url 'testshear' %}" class="side_link">+ Тест на срез</a>
				</div>
				<div class="sidebar_item">
					<a href="{% url 'testdelamination' %}" class="side_link">+ Тест на деламинацию</a>
				</div>
			</div>
			<div class="sidebar_inner">
				<div id="dark_cell_sidebar">Фильтрация тестов</div>
				<div class="sidebar_item">
					<a href="{% url 'bendtestfilter' %}" class="side_link">Найти тесты на изгиб</a>
				</div>
				<div class="sidebar_item">
					<a href="{% url 'sheartestfilter' %}" class="side_link">Найти тесты на срез</a>
				</div>
				<div class="sidebar_item">
					<a href="{% url 'delamtestfilter' %}" class="side_link">Найти тесты на деламинацию</a>
				</div>
			</div>
			<div class="sidebar_inner">
				<div class="sidebar_item">
					<a href="{% url 'nonconformities' %}" class="side_link">Несоответствия</a>
				</div>
				<div class="sidebar_item">
					<a href="{% url 'persons' %}" class="side_link">Ответственные лица</a>
				</div>
				<div class="sidebar_item">
					<a href="{% url 'tools' %}" class="side_link">Оборудование/Инструменты/Приборы</a>
				</div>
				<div class="sidebar_item">
					<a href="#" class="side_link">Ссылки на стандарт</a>
				</div>
				<div class="sidebar_item">
					<a href="{% url 'settings' %}" class="side_link">Настройки</a>
				</div>
			</div>
			{% endblock sidebar %}
		</div>
	</div>
</div>	




</body>
</html>