{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'mainApp/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

   
    <!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>



  
{{ date_form.media }}
</head>
<body>

<!-- Header -->
<header class="site__header">
	<div class="container">
		<div class="header__inner">
			<div class="header__logo">
				<a class="logo" href="/">FPC App EN 14080:2013</a>
			</div>
			<nav class="nav">
				<a class="nav__link" href="{% url 'today' %}">Главная</a>
				{% if user.is_authenticated %}
				<a class="nav__link" href="{% url 'profile' %}">Мой профиль</a>
				<a class="nav__link" href="{% url 'logout' %}">Выйти</a>
				{% else %}
				<a class="nav__link" href="{% url 'login' %}">Войти</a>
				<a class="nav__link" href="{% url 'register' %}">Регистрация</a>
				{% endif %}
			</nav>
		</div>	
	</div>
</header>

<!-- Intro -->
<div class="intro">
	<div class="work__window">
		<div class="work__place">
			{% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
			<div class="date">{{ date }}</div>
			<dir class="date__form">
				<form method="POST" action="{% url 'date_tests' %}">
                {% csrf_token %}
                <th>  
                {{ date_form|crispy }} 
                </th>
                <th>
                    <button class="btn btn-info btn-sm mt-1 mb-1" type="submit">Перейти</button>
                </th>
            </form> 

			</dir>
			<div class="work__item">
				
			</div>
		</div>
		<div class="sidebar">
		<div class="sidebar__item">
			
		</div>
	</div>
	</div>
	
	
</div>


</body>
</html>