{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}


{% block content %} 
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
    <legend class="border-bottom mb-4">Редактировать данные о датчике/оборудовании/инструменте</legend>
    <table class="table_detail">
    <tr class="table_row">
        <th class="table_cell dark_cell">Название</th>
        <th colspan="3" class="table_cell2">{{ form.name }}</th>
    </tr>
    <tr class="table_row">
        <th class="table_cell" id="cell3">Ответственный</th>
        <th colspan="3" class="table_cell2" id="cell4">{{ form.resp_person }}</th>
     </tr>
     <tr class="table_row">
    	 <th class="table_cell" id="cell3">Дата калибровки</th>  
    	 <th class="table_cell2" id="cell4">{{ form.calibration_date }}</th>
    	 <th class="table_cell" id="cell3">Дата следующей калибровки</th>  
    	 <th class="table_cell2" id="cell4">{{ form.next_calibration_date }}</th>
     </tr>
     <tr class="table_row">
     	<th class="table_cell" id="cell3">Описание</th>
     	<th colspan="3" class="table_cell2" id="cell4">{{ form.description }}</th>
     </tr>
</table>
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Сохранить</button>
    </div>
</form>
{% endblock content %}