{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content %}
  <div class="media-body content-section tabletoday">
    <h2 class="article-title">{{ object.name }}</h2>
    <h3 class="article-title">{{ object.description }}</h3>
    <small class="text-muted">{{ object.calibration_date|date:"F d, Y" }}</small>
    <small class="text-muted">{{ object.next_calibration_date|date:"F d, Y" }}</small>
    <p class="article-content">{{ object.resp_person.name }}</p>
  </div>
{% endblock content %}