{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

{% if perms.mainApp.delete_Tool %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{% trans 'Удаление оборудования/инструмента/прибора' %}</legend>
                <h2>{% trans 'Вы уверены, что хотите его удалить' %}?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">{% trans 'Да, удалить' %}</button>
                <a class="btn btn-outline-sec" href="{% url 'tools' %}">{% trans 'Отменить' %}</a>
            </div>
        </form>
    </div>
        {% else %}
<h2>{% trans 'У данного аккаунта нет прав на удаление данных' %}!</h2>
 <a href="{% url 'login' %}">{% trans 'Сменить аккаунт' %}</a>
{% endif %}
{% endblock content %}