{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content %}
 <div class="content-section">
       <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom">Восстановление пароля</legend>
                    <table class="table_detail">
                      <tr class="table_row">
                          <th class="table_cell dark_cell">Адрес электронной почты</th>
                          <th colspan="3" class="table_cell2">{{ form.email }}</th>
                      </tr>
                       </table>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info btn_down" type="submit">Запросить</button>
                </div>
            </form> 
    </div>   
{% endblock content %}
{% block sidebar %}
{% endblock sidebar %}