{% extends "mainApp/today.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div class="content-section">
       <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom">{% trans 'Изменение пароля' %}</legend>
                    <table class="table_detail">
                      <tr class="table_row">
                          <th class="table_cell dark_cell">{% trans 'Пароль' %}</th>
                          <th colspan="3" class="table_cell2">{{ form.new_password1 }}</th>
                       </tr>
                       <tr class="table_row">
                          <th class="table_cell" id="cell3">{% trans 'Подтверждение пароля' %}</th>
                          <th colspan="3" class="table_cell2" id="cell4">{{ form.new_password2 }}</th>
                       </tr>
                       </table>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info btn_down" type="submit">{% trans 'Сохранить' %}</button>
                </div>
            </form> 
    </div>
{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}  


























