
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #ddd;

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*Container
============*/

.container {
	display: flex;
	width: 100%;
	margin: 0 0;
	padding: 0 0;
	height: 100%;
}


/*Header
===========*/
.site__header {
	width: 100%;
	height: 63px;

	background: #008080;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex-wrap: nowrap;
}

.header__logo {
width: 100%;
height: 100%;
}

#logo {
	position: absolute;
	padding-top: 16px;
	left: 40px;
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
}

#nav {
	display: flex;
	font-size: 13px;
	font-weight: 600;
}

#nav__link {
	color: #fff;
	text-decoration: none;
	opacity: .75;
	margin-left: 30px;
	white-space: nowrap;

}

#nav__link:first-child {
	margin-left: 0;
}

#nav__link:hover {
	opacity: 1;
	transition: opacity .1s 
	linear;	
}

/*Intro
===========*/

.intro {
	height: 750px;
	padding-top: 63px;
	
	
}


.work__window {
display: flex;
flex-flow: row;
flex-wrap: nowrap;
flex-direction: row;
height: 100%;



}

.work__place {
flex: 3;
display: flex;
flex-direction: column;
margin-right: 50px;
margin-left: 15px;
max-width: 900px;
}
.dates {
	display: flex;
	height: 80px;
	align-items: center;

}

.sidebar {
	flex: 1;
	padding-left: 30px;
}
#date {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: #000000;
	padding-left: 10px;
	white-space: nowrap;
}

.col-form-label {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.date__form {
	display: flex;
	padding: 13px 0;
	margin: 0 0;
	width: 250px;
	
}

.form__input {
padding: 0 10px;
margin: 0;
}

.but {
padding: 0;

}

/* Базовый контейнер табов */
.tabs {
	width: 100%;
	padding: 0 0 10px;
	margin: 0;
	white-space: nowrap;
}

/* Стили секций с содержанием */
.tabs>section {
	display: none;
	padding: 0 0;
	background: #fff;
	margin-right: -9px;
	
}
.tabs>section>p {
	margin: 0 0 5px;
	line-height: 1.5;
	color: #383838;
	/* прикрутим анимацию */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */
 
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tab__container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
}

.tabs>label {
	width: 33.333%;
	flex: 1;
	margin: 0 0 -1px;
	padding: 10px 0;
	font-weight: 600;
	text-align: center;
	color: #aaa;
	border: 0px solid #ddd;
	border-width: 1px 1px 1px 1px;
	background: #f1f1f1;
	border-radius: 3px 3px 0 0;
}
/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs>label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}

/* Изменения стиля переключателей вкладок при наведении */
 
.tabs>label:hover {
	color: #888;
	cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #555;
	
	border-bottom: 1px solid #fff;
	background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
	display: block;
}
/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/
 
@media screen and (max-width: 680px) {
	.tabs>label {
		font-size: 0;
	}
	.tabs>label:before {
		margin: 0;
		font-size: 18px;
	}
}
/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
	.tabs>label {
		padding: 15px;
	}
}


.test_item {
	background: #f1f1f1;
	border: 3px solid #008080;
	border-radius: 10px 10px 0 0;
	margin: 0 0;
	padding: 0 0;

}

.table {
	border-collapse: separate;
	border-spacing: 0;
	text-align: center;
	margin: 30px 0;
	padding: 0 0;
	width: 100%;
	max-width: 900px;
	border: 5px solid #008080;
	border-radius: 5px;
	
}

.table_detail {
	border-collapse: separate;
	border-spacing: 0;
	text-align: center;
	margin: 30px 0 0;
	padding: 0 0;
	width: 100%;
	max-width: 1000px;
	border: 5px solid #008080;
	border-radius: 5px;
	
}
.table_row {
	width: 100%;
}

.table:first-child {
	margin: 15px 0;
}

.noclick:hover {
}

.table:hover {
cursor:pointer;
box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.click:hover {
cursor:pointer;
box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.table_inner {
	border-spacing: 0;
	text-align: center;
	margin: 0 0;
	width: 100%;
	height: 100%;
	padding: 0 0;
	border: 1px solid #008080;
}
.table_cell {
	margin: 0 0;
	border: 1px solid #008080;	
	padding: 5px 10px;
	background: #f1f1f1;
	width: 20%;
	text-align: center;
}

.table_cell2 {
	margin: 0 0;
	border: 1px solid #008080;	
	padding: 5px 10px;
	background: #f1f1f1;
	text-align: center;
	width: 20%;
}

.table_cell2 input {
	width: 100%;
	border-radius:3px;
} 


.sidebar {
	padding: auto 10px;
	text-align: center;
	background: #f1f1f1;
	margin: 10px;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.sidebar_inner {
	display: flex;
	flex-direction: column;
	background: #f1f1f1;
	border: 5px solid #008080;
	border-radius: 5px;
	width: 100%;
	justify-content: center;
	margin-top: 20px;
	margin-right: 30px;
	border-style: groove;
}

.side_link	{
	display: block;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000000	;
	text-decoration: none;
	font-weight: 700;
	padding: 15px 0;

}

.sidebar_item {
	padding: 0;
	border-top: 2px solid #008080;
	width: 100%;

}


#dark_cell_sidebar {
	background: #d8d8d8;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: 700;
}

#side_noborder {
	border-top: 0 solid #008080;
}

#cell1 {
	border-top: 3px solid #008080;
	border-right: 3px solid #008080;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: 700;
	background: #d8d8d8;
}

#cell2 {
	
	border-right: 3px solid #008080;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: 700;
}

#cell3 {
	border-top: 3px solid #008080;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: 700;
	background: #d8d8d8;
}

#cell4 {
	border-top: 3px solid #008080;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: 700;
}



.dark_cell {
	background: #d8d8d8
}


.table_link {
	display: block;
	text-decoration: none;
}

.form_field {
	padding: 0;
	margin: 0;
	width: 20px;
}

input {
	width: 80px;
	border-radius:3px;
	padding: 5px;
	margin: 5px;
}


select {
	width: auto;
	border-radius:3px;
	padding: 5px;
	margin: 5px;
}

textarea {
	border-radius:3px;
	padding: 5px;
	margin: 5px;
}



.short input {
	width: 60px;
	border-radius:3px;
}

.long input {
	width: 350px;
	border-radius:3px;
} 

.long_inp input {
	width: 60px;
	height: 50px;
	border-radius:3px;
} 

.long_name input {
	width: 865px;
	border-radius:3px;
} 

img	{

	height: 50px;
}

.form-group {
	padding-bottom: 0;
}

.btn_down {
	width: 100%;
}

.set_link {
	display: block;
	width: 100%;
	height: 100%;
}

.work_filter {
	margin-top: 10px;
}